@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #E5ECE9;
    --foreground: #060E0C;

    --primary: #9F87AF;
    --secondary: #8789C0;
    --tertiary: #114B5F;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #060E0C;
        --foreground: #E5ECE9;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--primary)
}

a:hover {
    text-decoration: underline;
}
